.create_private_success_container {
  justify-content: center;
  align-items: center;
}

.create_private_success_container h1 {
  text-align: center;
}

.create_private_success_container #code{
    border: #fff 1px solid;
    padding: 2%;
    margin: 0;
    border-radius: 9px;
    text-align: center;
}

.create_private_success_container .btn {
    display: block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
}

.create_private_success_container .btn-smash-it {
    background-color: #6fc3df;
    border-color: #0086d4;
    color: #fff;
}