
.game_container {
  align-items: center;
}

.game_container canvas {
  width: 95% !important;
  height: calc(100vh - 60px) !important;
  max-height: 600px;
  border: 3px solid cornflowerblue;
  border-radius: 3px;
  margin: auto;
  object-fit: contain;
}

/* edge canvas width fix*/
_:-ms-lang(x), canvas { 
  width:320px !important;
  height:480px !important;
}

.game_container .countdown_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 4rem;
  background: rgba(0, 0, 0, 0.3);
}

.game_container .game_header {
  width: 100%;
}

.game_container #time {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0;
}
