
.gamemodes-container {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: center;
    margin: 7% 4% 4%;
}

.gamemodes-container a {
    max-width: 30%;
    border-radius: 5%;
    text-align: center;
    min-width: 125px;
    min-height: 125px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 16%;
}

.gamemodes-container img {
    width: 100%;
}

.gamemodes-container .bottom-container {
    width: 100%;
    height: 15%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
}

.gamemodes-container .bottom-container div {
    min-width: 20%;
    border-radius: 5%;
}