
.game_container {
  align-items: center;
}

.game_container canvas {
  border: 3px solid cornflowerblue;
  border-radius: 4px;

  object-fit: contain;
  width: 90% !important;
  max-width: 400px;
  height: unset !important;
  margin: auto auto 8px auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.game_container .countdown_overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  font-size: 4rem;
  background: rgba(0, 0, 0, 0.3);
}

.game_container .game_header {
  width: 100%;
}

.game_container #time {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 0;
}