
.join_private_container {
  align-items: center;
}

.join_private_container input {
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
}
