.modes_menu_container {
    align-items: center; /*tegengesteld van het view van de flex*/
    justify-content: center;
}

.modes_menu_container h1{
    margin:0;
}

@keyframes breath{
    0% { transform: scale(0.8) }
    50% { transform: scale(1) }
    100% { transform: scale(0.8) }
}

.modes_menu_container h1 img{
    display: block;
    margin: 0 auto;
    max-width: 200px;
    animation: breath 1.5s linear infinite;
}

.modes_menu_container h2:first-of-type{
    margin-top:0;
}

.modes_menu_container a{
    text-align: center;
}

.modes_menu_container img{
    height: auto;
    max-width: 100px;
}

.btn_box_from_google .btn_from_google img{
    vertical-align: middle;
    width: 50px;
    height: auto;
}

.btn_box_from_google .btn_from_google {
    color: #fff;
    margin-left: 2%;
}

.btn_from_google{
    margin-bottom: 1%;
}

.settings {
    max-width: 50px;
}

.setting-link{
    align-self: flex-end;
}

.container-setting-menu .chevron-arrow-right{
    display: inline-block;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    width: 10px;
    height: 10px;
    transform: rotate(-42deg);
}

.container-setting-menu ul{
    list-style-type: none;
}

.container-setting-menu {
    align-items: flex-start; /*tegengesteld van het view van de flex*/
    justify-content: flex-start;
}

.container-setting-menu h1{
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.container-setting-menu p{
    display: inline-block;
    margin: 0px;
}

.container-setting-menu .setting-block{
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-setting-menu .setting-block a{
    text-decoration: none;
    color: #fff;
}

.container-setting-menu .setting-block .setting-to-choice{
    border: 1px #fff solid;
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 15px;
}
