.coins {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
}

.coins img {
    height: 20px;
    width: 20px;
}

#points_won {
    line-height: 23px;
    margin-left: 3px;
}