body{
    font-family: 'Orbitron', sans-serif;
    background-color: #0C141F;
    margin: 0px;
    padding: 0px;
    display: flex;
}

.container_start_up h1, .container_start_up h2, .container_start_up img{
    color: #fff;
}

.container_start_up .header_start_up{
    flex-direction: column;
    align-items: center; /*tegengesteld van het view van de flex*/
    justify-content: center;
    display: flex;
    height: 100%;
}

.container_start_up .header_start_up a{
    text-align: center;
}

.container_start_up .header_start_up img{
    height: auto;
    width: 40%;
    max-width: 254.4px;
}

#start {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity 1s ease-in;
    -moz-transition: opacity 1s ease-in;
    -ms-transition: opacity 1s ease-in;
    -o-transition: opacity 1s ease-in;
    transition: opacity 1s ease-in;
}

#start.load {
    opacity: 1;
}

.container_singleplayer_gamemode{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    display: flex;
    margin: 4%;
    margin-top: 7%;
}

.container_singleplayer_gamemode div{
    max-width: 30%;
    border-radius: 5%;
    text-align: center;
    min-width: 125px;
    min-height: 125px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 8%;
}

.container_singleplayer_gamemode .tut img,
.container_singleplayer_gamemode .easy img,
.container_singleplayer_gamemode .med img,
.container_singleplayer_gamemode .med_1 img,
.container_singleplayer_gamemode .med_2 img,
.container_singleplayer_gamemode .hard img{
    width: 100%;
}

