body{
    font-family: 'Orbitron', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #0C141F;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0C141F;
    transform: translateY(100%);
    transition: transform 0.3s;
    color: white;
}

.screen.slideUp {
    transform: translateY(0px);
}

.screen.slideOut {
    transform: translateY(-100%);
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.btn {
    display: block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
}

.btn-smash-it {
    background-color: #6fc3df;
    border-color: #0086d4;
    color: #fff;
}


.stats_multiplayer{
    display: flex;
    justify-content: center;
}

.table{
    width: 100%;
}

th,
tr,
td,
table img{
    text-align: left;
}

.country{
    min-width: 11%;
}

.name{
    min-width: 26%;
}

.points,
.time{
    min-width: 20%;
}

