.singleplayer_level_menu {
    margin: 0;
    overflow: auto;
    align-content: flex-start;
    margin-right: auto;
    margin-left: auto;
}

.singleplayer_level_menu .level {
    background-color: #0005b7;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 3.2rem;
}
