.stats_multiplayer {
    display: flex;
}

.stats_multiplayer table {
    width: 100%;
    overflow: scroll;
    position: absolute;
    height: 100%;
    justify-content: center;
    display: flex;
}

.stats_multiplayer th {
    padding: 8px 0;
}

.stats_multiplayer th,
.stats_multiplayer tr,
.stats_multiplayer td,
.stats_multiplayer table img {
    text-align: left;
}

.stats_multiplayer .country {
    min-width: 11%;
}

.stats_multiplayer th.country{
    width: 58.7px;
}

.stats_multiplayer .name {
    min-width: 26%;
}

.stats_multiplayer .points,
.stats_multiplayer .time {
    min-width: 20%;
}

.stats_multiplayer thead{
    position: fixed;
    width: 100%;
    background-color: #0C141F;
    max-width: 500px;
}

.stats_multiplayer tbody{
    padding-top: 50px;
    width: 100%;
    max-width: 500px;
}
