/** {*/
/*padding: 0;*/
/*margin: 0;*/
/*}*/

body {
    background: #eee;
    display: block;
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.view {
    max-width: 500px;
    display: flex;
    flex: 1;
    flex-direction: column;
}

canvas {

}

.hidden {
    display: none;
}

.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    border-bottom: solid 1px white;
    margin-top: 8%;
    padding-bottom: 5%;
}

.menu-button a {
    color: white;
    text-decoration: none;
}

.chevron-arrow-left {
    display: inline-block;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    width: 10px;
    height: 10px;
    transform: rotate(-225deg);
}

.coins {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
}

.coins img {
    width: 20px;
}

.gamemodes-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    margin: 7% 4% 4%;
}

.gamemodes-container a {
    max-width: 30%;
    border-radius: 5%;
    text-align: center;
    min-width: 125px;
    min-height: 125px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 16%;
}

.gamemodes-container img {
    width: 100%;
}

.bottom-container {
    width: 100%;
    height: 15%;
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
}

.bottom-container div {
    min-width: 20%;
    border-radius: 5%;
}

.container .coins img {
    max-height: 20.25px;
    margin-right: 3%;
}

.container .coins {
    align-items: center;
}

body{
    font-family: 'Orbitron', sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #0C141FD0;
    overflow: hidden;
}

.screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #0C141F;
    transform: translateY(100%);
    transition: all 0.4s;
}

.screen.currentScreen {
    transform: translateY(0px);
}

.container {
    flex: 1;
}

.container_start_up h1, .container_start_up h2, .container_start_up img{
    color: #fff;
}

.container_start_up .header_start_up{
    flex-direction: column;
    align-items: center; /*tegengesteld van het view van de flex*/
    justify-content: center;
    display: flex;
    height: 100%;
}

.container_start_up .header_start_up a{
    text-align: center;
}

.container_start_up .header_start_up img{
    height: auto;
    width: 40%;
    max-width: 254.4px;
}

.container_singleplayer_gamemode,
.generate_levels_singeplayer{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    display: flex;
    margin: 4%;
}

.container_singleplayer_gamemode a,
.generate_levels_singeplayer .level{
    max-width: 30%;
    border-radius: 5%;
    text-align: center;
    min-width: 125px;
    min-height: 125px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 8%;
}

.container_singleplayer_gamemode .tut img,
.container_singleplayer_gamemode .easy img,
.container_singleplayer_gamemode .med img,
.container_singleplayer_gamemode .med_1 img,
.container_singleplayer_gamemode .med_2 img,
.container_singleplayer_gamemode .hard img,
.create_join_public_or_private .join_a_private_game img,
.create_join_public_or_private .join_a_public_game img,
.create_join_public_or_private .create_a_private_game img,
.create_join_public_or_private .create_a_public_game img{
    width: 100%;
}

.container .create_join_public_or_private{
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    display: flex;
    margin: 4%;
}

.container .create_join_public_or_private,
.container .input_field_for_private_game,
.container .container_singleplayer_gamemode{
    margin-top: 7%;
}

.container .create_join_public_or_private a{
    max-width: 30%;
    border-radius: 5%;
    text-align: center;
    min-width: 125px;
    min-height: 125px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 8%;
}

.container .form_for_code_private_join{
    text-align: center;
}

.container .form_for_code_private_join label{
    display: block;
    margin-bottom: 3%;
}

.container .form_for_code_private_join input{
    line-height: normal;
    border-radius: 4px;
    padding: 6px 12px;
    border: #eee solid 1px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.btn{
    display: block;
    padding: 6px 12px;
    margin-bottom: 0;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 4%;
}

.btn-smash-it{
    background-color: #6fc3df;
    border-color: #0086d4;
    color: #fff;
}

#start_QR_scan, #submit_and_join_private_game{
    margin-top: 13%;
}

.code_private_create{
    text-align: center;
    letter-spacing: 1px;
}

.code_private_create span{
    border: #fff 1px solid;
    padding: 2%;
    margin: 4%;
    line-height: 90px;
    border-radius: 9px;
    text-align: center;
}

.stats_multiplayer{
    display: flex;
    justify-content: center;
}

.table{
    width: 100%;
}

th,
tr,
td,
table img{
    text-align: left;
}

.country{
    min-width: 11%;
}

.name{
    min-width: 26%;
}

.points,
.time{
    min-width: 20%;
}

.generate_levels_singeplayer a{
    color: #fff;
    font-size: 3.2rem;
    text-decoration: none;
}

.generate_levels_singeplayer{
    overflow: auto;
}

.generate_levels_singeplayer .level{
    display: flex;
    align-items: center;
    justify-content: center;
}

.level{
    background-color: #0005b7;
}

::-webkit-scrollbar {
    display: none;
}


/*# sourceMappingURL=bundle.css.map*/